{:kotoba.app/id "cloud.itonami.isic-0899", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiakzuacnoradtr656f72z47xjwzi6rsyiy6dfs2ur6hp5s2cxvwdq", :kotoba.app/embed-url "ipfs://bafkreiakzuacnoradtr656f72z47xjwzi6rsyiy6dfs2ur6hp5s2cxvwdq", :published {:archive "https://kotobase.net/ipfs/bafkreiakzuacnoradtr656f72z47xjwzi6rsyiy6dfs2ur6hp5s2cxvwdq", :size 72486, :put-status 201, :get-status 200, :at "2026-08-15T13:34:05.418Z"}}
